html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#ecf0ed, #939593);
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: rotate(-1deg);
}
.resize {
  height: 160%;
  width: 160%;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.left {
  text-align: left;
}
.right {
  text-align: left;
}
.bttn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0.2rem solid;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.login-box {
  position: absolute;
  top: 15%;
  left: 75%;  /* Move element to the right */
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.secondline {
  margin-top: 0%;
}
.topline {
  margin-bottom: 0%;
}
.answer-box {
  position: absolute;
  top: 65%;
  left: 75%;  /* Move element to the right */
  width: 500px;
  padding: 10px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
}
.answer-box p {
  font-size: 30px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.titles{
  color: #DAA520;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #DAA520;
  font-size: 12px;
}
.login-box form .dyna {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #DAA520;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box .dyna:hover {
  background: #DAA520;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #DAA520,
              0 0 25px #DAA520,
              0 0 50px #DAA520,
              0 0 100px #DAA520;
}