<!DOCTYPE html>
<html>

<head>
    <title>Thirukkural</title>
    <meta name="description" content="Thirukkural">
    <meta name="keywords" content="Thirukkural">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="row">
    <div class="column left">
        <div class="img-center">
            <img class="resize" src="/static/thiruvalluvar_statue.png" alt="Thiruvalluvar Statue">
        </div>
    </div>
    <div class="column right">
        <div class="login-box">

            <form action="/" method="POST">
                <div class="user-box">
                    <input type="text" name="Kural Number" required="">
                    <label>Thirukkural Number</label>
                </div>

                    <input class="dyna bttn" type="submit" value="Submit" />

            </form>
        </div>
        <div class="answer-box">
            {% if tamildef %}
            <p>{{ tamildef }}</p>
            {% endif %}

            {% if englishdef %}
            <p>{{ englishdef }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>